

.main-content {
    flex: 1;
    margin-left: 250px;
    padding: 20px;
  }
  .content-header{
    width: 100%;
  }
  .bloc-profile{
    text-align: end
  }
  .profile_image{
    border-radius: 50%;
    align-items: center;
    cursor: pointer;
  }
  .top-header {
    background: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -20px -20px 20px -45px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    background: #f8f9fa;
    padding: 8px 15px;
    border-radius: 25px;
    width: 300px;
  }
  
  .search-bar i {
    color: #6c757d;
    margin-right: 10px;
  }
  
  .search-bar input {
    border: none;
    background: none;
    outline: none;
    width: 100%;
    font-size: 14px;
  }
  
  .user-menu {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: end;
  }
  
  .content-container {
    margin-top: 20px;
  }
  