<header class="top-header">
  <div class="row content-header">
    <div class="col-10">
      <div class="home-icon-container">
        <i class="fa fa-home home-icon" routerLink="/dashboard"></i>
      </div>
    </div>
    <div class="col-2 bloc-profile">
      <div class="user-menu">
        <img routerLink="/profilA" [src]="user.avatarUrl" alt="Avatar" class="profile_image" width="25%" />
        <span class="user-name">{{ user.nomUtilisateur }}</span>
      </div>
    </div>
  </div>
</header>