<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mot de passe oublier</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
</head>
<body>
    <!-- Notification Banner -->
    <div *ngIf="showNotification" class="notification-banner" [ngClass]="notificationType">
        <div class="notification-content">
            <i class="fas" [ngClass]="{
                'fa-check-circle': notificationType === 'success',
            }"></i>
            <span>{{ notificationMessage }}</span>
        </div>
        <button class="close-notification" (click)="showNotification = false">
            <i class="fas fa-times"></i>
        </button>
    </div>

    <div class="login-container">
        <img src="logo.png" alt="Logo TT" width="150">
        <h2>Réinitialiser votre Mot De Passe</h2>
        <form (ngSubmit)="validerMotDePasse()" #form="ngForm">
            <div class="mb-3">
                <input
                    type="text"
                    class="form-control"
                    placeholder="Identifiant"
                    [(ngModel)]="identifiant"
                    name="identifiant"
                    required
                />
                <div *ngIf="messageErreurIdentifiant" class="text-danger">
                    {{ messageErreurIdentifiant }}
                </div>
            </div>
            <div class="mb-3">
                <input
                    type="password"
                    class="form-control"
                    placeholder="Nouveau Mot de passe"
                    [(ngModel)]="nouveauMotDePasse"
                    name="nouveauMotDePasse"
                    required
                />
                <div *ngIf="messageErreurMdp" class="text-danger">
                    {{ messageErreurMdp }}
                </div>
            </div>
            <div class="mb-3">
                <input
                    type="password"
                    class="form-control"
                    placeholder="Confirmation Mot de passe"
                    [(ngModel)]="confirmationMotDePasse"
                    name="confirmationMotDePasse"
                    required
                />
                <div *ngIf="messageErreurConfirmation" class="text-danger">
                    {{ messageErreurConfirmation }}
                </div>
            </div>
            <button
                type="submit"
                class="btn btn-login"
            >
            Réinitialiser
            </button>
            <a class="links-section" (click)="login()" routerLink="login">Retour à la connexion</a>
        </form>
    </div>
</body>
</html>