<div class="sidebar">
    <div class="logo">
      <img src="logo.png" alt="TT" width="60%" />
    </div>
    <nav>
      <ul>
        <li><a href="/dashboard"><i class="fas fa-chart-line"></i> Tableau de bord</a></li>
        <li><a routerLink="/list"><i class="fas fa-users"></i> Utilisateurs</a></li>
        <li><a href="#"><i class="fas fa-shopping-cart"></i> Catalogue des offres</a></li>
        <li><a href="#"><i class="fas fa-box"></i> Stock</a></li>
        <li class="logout"><a routerLink="/" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Déconnexion</a></li>
      </ul>
    </nav>
  </div>
  